.column {
  align-items: center;
  background-color: #EED2CC;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column-reverse;
  height: 33rem;
  padding: 0.5rem;
  width: 4rem;
}
