.connectFour {
  --color-1: #6C9A8B;
  --color-2: #E8998D;
  --background-color: #EED2CC;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -0.5rem;

  >* {
    margin: 0.5rem;
  }
}

.modeToggle,
.resetButton,
.playAgainButton {
  background-color: transparent;
  border: 4px solid var(--background-color);
  border-radius: 6px;
  font-size: 1rem;
}

.resetButton {
  padding: 0.25rem 1.5rem;
}

.modeToggle {
  display: flex;
  padding: 0;
}

.onePlayer,
.twoPlayers {
  padding: 0.25rem 1.5rem;
}

.onePlayer {
  padding-right: 0.5rem;

  .modeToggle[data-mode="1"] & {
    background-color: var(--background-color);
    opacity: 1;
  }

  .modeToggle[data-mode="2"] & {
    opacity: 0.5;
  }
}

.twoPlayers {
  padding-left: 0.5rem;

  .modeToggle[data-mode="1"] & {
    opacity: 0.5;
  }

  .modeToggle[data-mode="2"] & {
    background-color: var(--background-color);
    opacity: 1;
  }
}

.gameOver {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
  color: #333;
  display: none;
  font-size: 2rem;
  left: 50%;
  max-width: 25rem;
  padding: 2rem 3rem;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.connectFourGameOver {
  position: relative;

  .buttons,
  .board {
    opacity: 0.5;
  }

  .gameOver {
    display: block;
  }
}
